extends ../../layouts/default.pug
include ../../mixins/alert
include ../../mixins/tree
block main
  +alertError(5000)

  h1(class="mb-4") Tạo danh mục
  form(
    action=`/${admin}/products-category/create`
    id="form-create-product"
    method="POST"
    enctype="multipart/form-data"
  )
    div(class="form-group")
      label(for="title") Tiêu đề
      input(
        type="text"
        class="form-control"
        id="title"
        name="title"
        
      )
    select(name="parent_id" id="parent_id" class="form-control")
      option(value="") -- Chọn danh mục cha --
      if recors
          +tree(recors)
        
    div(class="form-group ")
      label(for="desc") Mô tả
      textarea(
        class="form-control textarea-mce"
        id="desc"
        name="description"
        rows="5"
      )

    div(class="form-group"
        uploadImage
    )
      label(for="thumbnail") Ảnh
      input(
        type="file"
        class="form-control-file"
        id="thumbnail"
        name="thumbnail"
        accept="image/*"
        upload-img-input
      )
      div(class="position-relative d-inline-block")
        button(class=" btn btn-danger btn-sm position-absolute top-0 end-0 d-none" type="button" button-close) x
        img(
          src=""
          upload-img-preview
          class="image-preview"
        )

    div(class="form-group")
      label(for="position") Vị trí
      input(
        type="number"
        class="form-control"
        id="position"
        name="position"
        placeholder="Tự động tăng"
        min="1"
      )

    div(class="form-group form-check form-check-inline")
      input(
        type="radio"
        class="form-check-input"
        id="statusActive"
        name="status"
        value="active"
        checked
      )
      label(for="statusActive" class="form-check-label") Hoạt động

    div(class="form-group form-check form-check-inline")
      input(
        type="radio"
        class="form-check-input"
        id="statusInActive"
        name="status"
        value="inactive"
      )
      label(for="statusInActive" class="form-check-label") Dừng hoạt động

    div(class="form-group")
      button(
        type="submit"
        class="btn btn-primary"
      ) Tạo mới

  script(src='/admin/js/product.js')