extends ../../layouts/auth.pug
include ../../mixins/alert

block content
    +alertError(5000)
    +alertSuccess(5000)
    .auth-form
        h2.text-center.mb-4 Đặt lại mật khẩu
        form(action="/user/password/reset", method="POST")
            
            .mb-3
                label.form-label(for="newPassword") Mật khẩu mới
                input.form-control(
                    type="password", 
                    id="newPassword", 
                    name="password", 
                    placeholder="Nhập mật khẩu mới",
                    required,
                    minlength="6"
                )
            
            .mb-3
                label.form-label(for="confirmPassword") Xác nhận mật khẩu
                input.form-control(
                    type="password", 
                    id="confirmPassword", 
                    name="confirmPassword", 
                    placeholder="Nhập lại mật khẩu mới",
                    required,
                    minlength="6"
                )
            
            button.btn.btn-primary.w-100(type="submit") Đổi mật khẩu
        
        .mt-3.text-center
            a(href="/auth/login") Quay lại đăng nhập